body{
    margin-left: 50px;
    margin-right: 50px;

}
h1{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid gainsboro;
}
#contenedor{
    display: flex;
    flex-direction: row;
    
}
#contenedorTabla{
    margin-top: 50px;
    width: 70%;
}
#contenedorCarrito{
    width: 30%;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 30px;
}
#productosTotal{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-top: 15px;
}
.miTabla{
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-collapse: collapse;

}
th{
    padding: 20px;
    border-bottom: 3px solid gainsboro;
}

td{
    padding: 20px;
    border-bottom: 2px solid gainsboro;
}

.parrTitulo{
    font-size: 1.5em;
    font-weight: bold;
}

.spanIzquierda {
    margin-left: 0.6em;
    margin-bottom: 0.6em;
}

.spanDerecha {
    margin-right: 0.3em;
}

.divElemen{
    display:flex;
    justify-content: space-between;
    margin: 3px;
}

.divElementos{
    border-top: 2px solid black;
}

.btn{
    height: 40px;
    width: 22px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input{
    width: 35px;
    height: 35px;
    text-align: center;
}

